# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Dataset folders
food-101/
Food 101 dataset/
train/
test/
train_mini/
test_mini/

img/

# Model checkpoints and outputs (keep only main MobileNet model)
models/*.pt
!models/MOBILENET_best_model_food101_mobilenet.pt
models/*.png
!models/mobilenet_accuracy_curve.png
!models/food101_mobilenet_MOBILENET_confusion_matrix.png
models/*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Logs
*.log

# Kaggle API key
kaggle.json 